fastapi==0.104.0
uvicorn==0.23.2
pymongo==4.5.0
pydantic==2.4.2
python-dotenv==1.0.0





# Posible problema con la version de pymongo

# Posible solucion: 

#python.exe -m pip install --upgrade pip
#pip uninstall bson pymongo
#pip install pymongo